<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>{% block title %}Welcome!{% endblock %}</title>
  <link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon" /> {% block stylesheets %} {{ include('@BciCharts/_partials/stylesheets.html.twig') }} {% endblock %}
</head>

<body>
  {% block body %}{% endblock %} {% block javascripts %} {{ include('@BciCharts/_partials/scripts.html.twig') }} {% endblock %}
</body>

</html>
