{# templates/pages/index.html.twig #}
{% extends 'base.html.twig' %}
{% block stylesheets %}
    {% include '@BciCms/Layout/_partial/_stylesheetChart.html.twig' %}
{% endblock %}
{% block title %} {{ title ?: 'titre de la page' }} {% endblock title %} {% block body %}
        {% set sections = {
            "typography":[
                'heading',
                'button',
                'paragraph',
                'list'
            ],
            "forms":[
                'input',
                'input-error',
                'textarea',
                'textarea-error',
                'label',
                'radio',
                'checkbox',
                'select'
            ],
            "layout":[
                'grid',
                'container'
            ],
            "UI":[
                'nav',
                'breadcrumb',
                'galery'
            ]
        } %}
    <div id="cssBuilder" class="cssBuilder">
        {% for sectionName, section in sections %}
            <h1 class="subtitle">{{ sectionName|capitalize }}</h1>
            <div class="row">
                {% for type in section %}
                    <div class="col-12
                        {% if type != "grid" and type != "container" and type != "gallery" and type != "galery"%}
                            col-xl-6
                        {% endif %}
                      ">
                        <div class="sectionItems-{{ type|capitalize }}"><h2 class="itemsTitle">{{ type }}</h2>
                            <div class="row">
                                {{ include('@BciCharts/graphic_chart/_partials/'~type~'s.html.twig') }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

{% endblock body %}
