{% block form_row %}
	{% spaceless %}
		{{ form_errors(form) }}
				<div class="col-12">
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text col">
						{#{{ form|lower|capitalize }}#}
					</span>
				</div>
				{% if form.vars.name|lower|split('mobile')|join|lower == "fontsize"%}
					<div class="input-group-prepend">
						<span class="input-group-text">px</span>
					</div>
			{% endif %}

				
				
				

				
			

				{{ form_widget(form) }}
				</div>
				</div>

	{% endspaceless %}
{% endblock form_row %}