{% extends 'base.html.twig' %}
{% block body %}
	<div class="container">
		<h1 class="subtitle">FORM</h1>
				<div class="sectionItems-Titre">
						{% form_theme form '@chart/customForm.html.twig' %}
							{{ form_start(form) }}
							{{ form_widget(form) }}
							{{ form_end(form) }}
			</div>
		</div>
	{% endblock body %}