{% extends '@BciCms/Layout/layout.html.twig' %}
{% trans_default_domain "builder" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

    <div class="col-12">
        <div class="card">
            <div class="card-header card-header- card-header-icon ">

               {% include '@BciCms/Layout/_partial/_title.html.twig' with {
                        'domain': 'Graphic Chart',
                   'title': 'Graphic Chart',
                        'icon': 'file-code-o'
                    } %}
            </div>
            <div class="card-body">
            {% include '@BciCharts/graphic_chart/charts.html.twig' %}

                <div class="toolbar">
                    <!--        Here you can write extra buttons/actions for the toolbar              -->
                </div>
                <div class="material-datatables">

                </div>
                <!-- end content-->
            </div>
        </div>
    </div>


{% endblock %}