





.cssBuilder {
  form {
    font-family: inherit !important;
    @import "partials/form_reset";
    // app.scss
  }
  $icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

  // set if you're also including font-awesome
  $fa-font-path: "~font-awesome/fonts";
  //@import '~bootstrap/scss/bootstrap.scss' !important;
  // the ~ allows you to reference things in node_modules
  $brand-primary: darken(#428bca, 20%);
  @import 'partials/reset';
  @import 'partials/variables';
  form {
    margin-top: 1rem !important;
  }

  .container.first {
    background-color: $bgc !important;
    padding: 1rem 2rem !important;
    margin: 3rem auto !important;
    border-radius: 15px !important;
  }

  h1.subtitle, h2.subtitle {
    color: $main-color !important;
    position: relative !important;
    text-transform: uppercase !important;
    margin-top: 4rem !important;
    &:before {
      content: "" !important;
      width: 100% !important;
      height: 4px !important;
      position: absolute !important;
      top: 0 !important;
      background-color: $main-color !important;

    }
  }

  h4.itemsTitle {
    text-transform: uppercase !important;
    font-size: .6rem !important;
    margin-top: 1rem !important;
    color: lighten($main-color, 10%) !important;

  }

  h2.itemsTitle {
    font-weight: 400 !important;
    text-transform: uppercase !important;
    font-size: 1rem !important;
    margin-top: 1rem !important;
  }

  [class^="sectionItems-"] {
    margin: 2rem 0 !important;
    h2.itemsTitle {
      position: relative !important;
      margin-bottom: 2rem !important;
      &:before {
        content: "" !important;
        width: 80% !important;
        height: 2px !important;
        background-color: lighten($main-color, 20%) !important;
        margin: 0 auto !important;
        top: 25px !important;
        left: 0 !important;
        position: absolute !important;
      }
    }

    br + div {
      position: relative !important;
      &:before {
        content: "" !important;
        width: 2px !important;
        height: 100% !important;
        background-color: lighten($main-color, 20%) !important;
        margin: 0 auto !important;
        top: 25px !important;
        left: -2px !important;
        position: absolute !important;
      }
      h3.itemsTitle2 {
        font-weight: 400 !important;
        text-transform: uppercase !important;
        font-size: .8rem !important;
        margin-top: 2rem !important;
        margin-bottom: .5rem !important;
        margin-left: 2rem !important;
        position: initial !important;
        &:before {
          content: "" !important;
          width: 70% !important;
          height: 1px !important;
          left: 2rem !important;
          background-color: lighten($main-color, 20%) !important;
          margin: 0 auto !important;
          top: 50px !important;
          position: absolute !important;
        }
      }
    }

    //.activeButtons a, .activeButtons button {
    //  &.link {
    //    @extend .link:active !important;
    //  }
    //  &.action {
    //    @extend .action:active !important;
    //  }
    //  &.button {
    //    @extend .button:active !important;
    //  }
    //}

    .hoverButtons a, .hoverButtons button {
      &.link {
        @extend .link:hover;
      }
      &.action {
        @extend .action:hover;
      }
      &.button {
        @extend .button:hover;
      }
    }
    a, button {
      &.link {
        &:hover {
          color: darken($bleu, 20%) !important;
          text-decoration: underline !important;
        }
      }

      &.action {
        background-color: #333333 !important;
        padding: 1rem !important;
        color: white !important;
        border-radius: 10px !important;
        transition: all ease .2s !important;
        &:hover {
          background-color: darken(#333333, 20%) !important;
          text-decoration: underline !important;
        }
      }
      &.button {
        background-color: #ddd !important;
        padding: 1rem !important;
        color: black !important;
        border-radius: 10px !important;
        transition: all ease .2s !important;
        &:hover {
          background-color: darken(#ddd, 20%) !important;
          text-decoration: underline !important;
        }
      }
      &.small {
        font-size: calc(1rem * .6) !important;
        padding: calc(1rem * .5) !important;
      }
      &.medium {
        font-size: calc(1rem * .75) !important;
        padding: calc(1rem * .75) !important;
      }
      &.large {
        font-size: calc(1rem * 1) !important;
        padding: calc(1rem * 1) !important;
      }
      &.showMore {
        text-transform: uppercase !important;
        font-size: .6rem !important;
      }
    }

    p {
      line-height: normal !important;
      &.small-text {
        font-size: .7rem !important;
      }
      &.medium-text {
        font-size: 1rem !important;
        line-height: auto !important;
      }
      &.large-text {
        font-size: 1.5rem !important;

      }
      &.italic-text {
        font-size: 1rem !important;
        font-style: italic !important;
      }
    }

    .input-style {
      display: block !important;
      position: relative !important;
      width: 100% !important;
      min-height: 1px !important;
      -webkit-box-flex: 0 !important;
    }

    input.input-short {
      @extend .input-style;
      -ms-flex: 0 0 25% !important;
      flex: 0 0 25% !important;
      max-width: 25% !important;
    }

    input.input-medium {
      @extend .input-style ;
      -ms-flex: 0 0 50% !important;
      flex: 0 0 50% !important;
      max-width: 50% !important;
    }

    input.input-long {
      @extend .input-style ;
      -ms-flex: 0 0 83.333333% !important;
      flex: 0 0 83.333333% !important;
      max-width: 83.333333% !important;
    }

    input.input-full {
      @extend .input-style ;
      -ms-flex: 0 0 100% !important;
      flex: 0 0 100% !important;
      max-width: 100% !important;
    }

    label.label-top, label.label-bottom {
      display: block !important;
    }

    label.label-top + input {
      margin-top: 0 !important;
    }

    #label-top {
      margin-bottom: 0 !important;
    }

    #label-bottom {
      margin-top: 1rem !important;

    }
    textarea {
      margin: 15px 0 !important;
      width: 100% !important;
      line-height: 25px !important;
      resize: none !important;
      display: block !important;
      padding: 9px !important;
      &:focus {
      }
    }
    .textarea-error-in-container {
      border: 1px solid red !important ;
      border-radius: 3px 3px 0 0 !important ;
      background-color: #ffd1d1 !important ;
      textarea {
        background-color: #ffd1d1 !important ;
      }
      label {
        background-color: transparent !important ;
      }

    }
    .textarea-in-container, .textarea-error-in-container {
      display: block !important;
      padding: 9px !important;
      margin-top: 30px !important;
      border: 1px solid #333 !important;
      border-radius: 3px !important;
      label.label-in, label.label-error-in {
        display: block !important;
        position: absolute !important;
        float: left !important;
        margin-top: -22px !important;
        background: $bgc !important;
        height: 20px !important;
        padding: 2px 5px 2px 5px !important;
        color: #333 !important;
        font-size: 14px !important;
        overflow: hidden !important;
        font-family: Arial, Helvetica, sans-serif !important;
      }
      div {
        display: block !important;
        position: absolute !important;
        float: left !important;
        margin-top: -10px !important;
        width: 21% !important;
        z-index: 0 !important;
        background: #ffd1d1 !important;
        height: 20px !important;
        padding: 2px 5px 2px 5px !important;
        color: #333 !important;
        font-size: 14px !important;
        overflow: hidden !important;
        font-family: Arial, Helvetica, sans-serif !important;
      }

      textarea#textarea-in, textarea#textarea-error-in {

        box-sizing: border-box !important;
        -webkit-box-sizing: border-box !important;
        -moz-box-sizing: border-box !important;
        width: 100% !important;
        display: block !important;
        outline: none !important;
        border: none !important;
        font-size: 16px !important;
        padding: 0 !important;
        background-color: $bgc !important;

      }

    }
    .error {
      input, textarea {
        padding: .3rem !important;
        margin-bottom: 0 !important;
        background-color: #ffd1d1 !important;
        border: red solid 1px !important;

      }

      [class^="input-error"], span[class^="textarea-error"] {
        width: 100% !important;
        background-color: red !important;
        color: #fff !important;
        text-align: center !important;
        padding: .2rem 0 !important;
      }
      span[class^="textarea-error"] {
        @extend input.input-full ;
      }
      span {
        margin-bottom: 1rem !important;
      }
      .input-error-short {
        @extend input.input-short ;
      }
      .input-error-medium {
        @extend input.input-medium ;
      }

      .input-error-long {
        @extend input.input-long ;
      }

      .input-error-full {
        @extend input.input-full ;
      }
    }
    div.radio-disabled, div.checkbox-disabled {
      input, label.box {
        background-color: lighten($bleu, 15%) !important ;
      }
    }
    div[class^="radio"], div[class^="checkbox"] {

      input {
        font-size: 2rem !important;
        display: none !important;
      }

      label {
        font-size: 1rem !important;
        margin: 0 .1rem !important;
        margin-right: 2rem !important;
        @media (max-width: 575.98px) {
          & {
            font-size: .7rem !important;
            margin-right: .5rem !important;
          }
        }
        &.box {
          margin-right: 0 !important;
          width: 25px !important;
          height: 25px !important;
          border-radius: 15px !important;
          border: 2px $bleu solid !important;
          box-sizing: border-box !important;
          display: inline-block !important;
          line-height: 22px !important;
          text-align: center !important;
          color: black !important;
          cursor: pointer !important;
          background: white !important;
          position: relative !important;
          &:hover {
            background-color: lighten($bleu, 15%) !important;
          }
        }
        &:before {
          position: absolute !important;
          top: -1px !important;
          left: -1px !important;
          height: 23px !important;
          width: 23px !important;
          font-family: FontAwesome !important;
          font-size: .8rem !important;
          color: #fff !important;
          border: 1px solid $bleu !important;
          text-align: center !important;
          background: $bleu !important;
          border-radius: 15px !important;
          content: "\f00c" !important;
          opacity: 0 !important;
          transition: all ease .2s !important;
        }
      }
      input:checked + label.box:before {
        opacity: 1 !important;
        &:hover {
          background-color: lighten($bleu, 15%) !important;
        }
      }

      &.radio-square, &.checkbox-square {
        label.box {
          border-radius: 5px !important;
        }

        label.box:before {
          position: absolute !important;
          top: 0 !important;
          left: 0 !important;
          height: 21px !important;
          width: 21px !important;
          border-radius: 1px !important;

        }
      }

    }
    div.coloredDiv {
      position: relative !important;
      background-color: $bleu !important;
      color: #fff !important;
      height: 100px !important;
      font-size: .8rem !important;
      border-radius: 5px !important;
      p {
        position: absolute !important;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
      }
    }

  }

  .sectionItems-Grid {
    div[class^="col-"] {
      padding: .1rem !important;
      margin-bottom: 1rem !important;

    }
  }

  .sectionItems-Container {

    .container {
      text-align: center !important;
      max-width: 80% !important;
      div {
        height: 100px !important;
        background-color: #5eb5e0 !important;
        margin: 0 auto !important;
        border-radius: 5px !important;
        position: relative !important;
        background-color: $bleu !important;
        color: #fff !important;
        p {
          position: absolute !important;
          top: 50% !important;
          left: 50% !important;
          transform: translate(-50%, -50%) !important;
        }
      }
    }
    .container-fluid {
      text-align: center !important;
      padding: 0 !important;
      padding-left: 0 !important;
      padding-right: 0 !important;
      margin: 0 !important;

      div {
        height: 100px !important;
        background-color: $bleu !important;
        color: #fff !important;
        width: 100% !important;
        position: relative !important;
        p {
          position: absolute !important;
          top: 50% !important;
          left: 50% !important;
          transform: translate(-50%, -50%) !important;
        }
      }
    }
    div.container-container {
      width: 100% !important;
      border-left: 2px solid $main-color !important;
      border-right: 2px solid $main-color !important;
      background-color: lighten($main-color, 50%) !important;
    }
  }

  .sectionItems-Breadcrumb {
    [class^="breadcrumb"] {
      li:first-child:before {
        content: "" !important;
      }
    }
    .breadcrumb-arrow {
      li:before {
        font-family: FontAwesome !important;
        content: "\f054" !important;
      }
    }
    .breadcrumb-block {
      li:nth-child(odd) {
        background-color: lighten($main-color, 60%) !important;
      }
      li:nth-child(even) {
        background-color: lighten($main-color, 50%) !important;
      }
      ol {
        padding: 0 !important;
        background-color: inherit !important;
        li {
          &:first-child {
            border-radius: 5px 0 0 5px !important;
          }
          &:last-child {
            border-radius: 0 5px 5px 0 !important;
          }
          padding: 1rem !important;
          &:before {
            content: "" !important;
            display: none !important;
          }
        }
      }
    }
  }

  .sectionItems-Nav {
    h4 {
      margin-top: 2rem !important;
    }
  }

  .sectionItems-List {
    ul.no-bullet {
      li {
        list-style: none !important;
      }
    }
  }
}


