
<h2 class="itemsTitle">titres</h2>
<div class="row">
  {% for i in 1..6 %} {% set customVar = "h"~i %}
  <div class="col-12">
    <div class="row">
      <div class="col-1"><a style="font-size: 2rem" data-toggle="collapse" href="#show-{{customVar}}" role="button" aria-expanded="false" aria-controls="show-{{customVar}}" id="show-{{customVar}}-button"><i class="fa fa-plus-circle"></i></a></div>
      <div class="col-11">
        <{{customVar}}>{{customVar}}. Heading <span>small segment.</span></{{customVar}}>
      </div>
      {{ include('@BciCharts/graphic_chart/form.html.twig') }}
    </div>
  </div>
  {% endfor %}
</div>
