<h2 class="itemsTitle">blockquotes</h2>
<blockquote cite="www">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores magnam optio nostrum eveniet odio quis quam libero dicta assumenda, earum cumque culpa obcaecati. Doloremque provident tempora, sunt iure illum, aliquam.
    <footer>Nom de l'auteur.</footer>
</blockquote>