{% set arguments = ['font-family', 'font-style','font-size','font-weight','line-height','letterspacing','text-transform','color'] %}
    {% set breadcrumbStyles = ['simple', 'arrow', 'block' ] %}
    {% set i = 0 %}
    {% for style in breadcrumbStyles %}
        {% set  i = i + 1 %}
        {% set customVar = type~"-"~style %}

        <div class="col-12">
            <div class="row align-items-center">
                <div class="col-1"><a style="font-size: 2rem" data-toggle="collapse" href="#show-{{ customVar }}-modal"
                                      role="button" aria-expanded="false" aria-controls="show-{{ customVar }}-modal"
                                      id="show-{{ customVar }}" class="collapsed"><i class="fa fa-plus-circle"></i></a>
                </div>
                <div class="col-11">
                    <h4 class="itemsTitle">{{ customVar }}</h4>
                    <nav aria-label="breadcrumb" class="{{ customVar }}">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Lien 1</a></li>
                            <li class="breadcrumb-item"><a href="#">Lien 2</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Lien 3</li>
                        </ol>
                    </nav>
                </div>
                {{ include('@BciCharts/graphic_chart/inc/forms.html.twig') }}
            </div>

        </div>
    {% endfor %}
