{% set arguments = ['font-family', 'font-style','font-size','font-weight','padding','letterspacing','text-transform','color', 'background-color', 'border-radius', 'border'] %}


{% set linkTypes = ['link', 'button', 'action'] %}
<div class="row">
  {% for link in linkTypes %}
      {% set customVar = type~"-"~link %}

  <div class="col-12 m-1">
	<div class="row align-items-center">
	  <div class="col-1"><a style="font-size: 2rem" data-toggle="collapse" href="#show-{{customVar}}-modal" role="button" aria-expanded="false" aria-controls="show-{{customVar}}-modal" id="show-{{customVar}}" class="collapsed"><i class="fa fa-plus-circle"></i></a></div>
	  <div class="col-11 ">
          <div class="row align-items-center">
          {% set linkSizes = ['small', 'medium', 'large'] %}
              {% for size in linkSizes %}
                    <a class="{{link}} {{ size }} ml-2" href="#">.{{size}} .{{ link }}</a>
              {% endfor %}
          </div>
	  </div>

	</div>
      <div class="mt-2">
          {{ include('@BciCharts/graphic_chart/inc/forms.html.twig') }}
      </div>
  </div>

  {% endfor %}

</div>
<a style="font-size: 2rem" data-toggle="collapse" href="#show-hover-modal" role="button" aria-expanded="false" aria-controls="show-hover-modal" id="show-hover" class="collapsed showMore"><i class="fa fa-chevron-right"></i> autres options</a>
<div class="collapse col-11" id="show-hover-modal"><br>
<div class="row hoverButtons">
    <h3 class="itemsTitle2">:hover</h3>
    {% for link in linkTypes %}{% set customVar = "link-"~link~"-hover" %}

        <div class="col-12 m-1">
            <div class="row align-items-center">
                <div class="col-1"><a style="font-size: 2rem" data-toggle="collapse" href="#show-{{customVar}}-modal" role="button" aria-expanded="false" aria-controls="show-{{customVar}}-modal" id="show-{{customVar}}" class="collapsed"><i class="fa fa-plus-circle"></i></a></div>
                <div class="col-11 ">
                    <div class="row align-items-center">
                        {% set linkSizes = ['small', 'medium', 'large'] %}
                        {% for size in linkSizes %}
                            <a class="{{link}} {{ size }} ml-2" href="#">.{{size}} .{{ link }}</a>
                        {% endfor %}
                    </div>
                </div>

            </div>
            <div class="mt-2">
                {{ include('@BciCharts/graphic_chart/inc/forms.html.twig') }}
            </div>
        </div>

    {% endfor %}

</div>


<br>
<div class="row activeButtons">
    <h3 class="itemsTitle2">:active</h3>
    {% for link in linkTypes %}{% set customVar = "link-"~link~"-active" %}

        <div class="col-12 m-1">
            <div class="row align-items-center">
                <div class="col-1"><a style="font-size: 2rem" data-toggle="collapse" href="#show-{{customVar}}-modal" role="button" aria-expanded="false" aria-controls="show-{{customVar}}-modal" id="show-{{customVar}}" class="collapsed"><i class="fa fa-plus-circle"></i></a></div>
                <div class="col-11 ">
                    <div class="row align-items-center">
                        {% set linkSizes = ['small', 'medium', 'large'] %}
                        {% for size in linkSizes %}
                            <a class="{{link}} {{ size }} ml-2" href="#">.{{size}} .{{ link }}</a>
                        {% endfor %}
                    </div>
                </div>

            </div>
            <div class="mt-2">
                {{ include('@BciCharts/graphic_chart/inc/forms.html.twig') }}
            </div>
        </div>

    {% endfor %}

</div>
</div>