{% set arguments = ['columns'] %}
    {% set gridStyle = ['container', 'container-fluid' ] %}


    {% for style in gridStyle %}

        {% set customVar = style %}
                        <h4 class="itemsTitle">{{ style }}</h4>
        <div class="col-12"><div class="row">
                <div class="{{ style }}"><div class="col-12 coloredDiv"><p>{{ style|upper }}</p></div></div>
            </div></div>


    {% endfor %}
