{% set arguments = ['font-family', 'font-style','font-size','font-weight','line-height','letterspacing','text-transform','color'] %}
    {% set galleryStyles = ['normal' ] %}
    {% set i = 0 %}
    {% for style in galleryStyles %}
        {% set  i = i + 1 %}
        {% set customVar = type~"-"~style %}

        <div class="col-12">
            <div class="row align-items-center">
                <div class="col-1"><a style="font-size: 2rem" data-toggle="collapse" href="#show-{{ customVar }}-modal"
                                      role="button" aria-expanded="false" aria-controls="show-{{ customVar }}-modal"
                                      id="show-{{ customVar }}" class="collapsed"><i class="fa fa-plus-circle"></i></a>
                </div>
                <div class="col-11">
                    <div class="row">
                        {% for i in 1..4 %}
                            <div class="col-3">
                                <a type="" class="" style="cursor: pointer" data-toggle="modal" data-target="#exampleModalCenter">
                                    <img src="http://via.placeholder.com/1920x1080" style="max-width: 100%" alt="">
                                </a>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <a type="" class="close" data-dismiss="modal" aria-label="Close">
                                                    <img src="http://via.placeholder.com/1920x1080" style="max-width: 100%" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        {% endfor %}

                    </div>
                    {{ include('@BciCharts/graphic_chart/inc/forms.html.twig') }}
                </div>
            </div>
        </div>
    {% endfor %}
