{% set arguments = ['columns'] %}
    {% set gridStyle = [1, 2, 3, 4, 6, 12 ] %}
<div class="container-fluid">
    {% for style in gridStyle %}
        {% set customVar = type~"-"~style %}
                        <h4 class="itemsTitle">{{ style }} columns</h4>
<div class="col-12"><div class="row">
                            {% for i in 1..style %}
                            <div class="col-{{ 12/style }}"><div class="col-12 coloredDiv"><p>.col-{{ 12/style }}</p></div></div>
                            {% endfor %}
</div></div>
    {% endfor %}
</div>