{% set arguments = ['font-family', 'font-style','font-size','font-weight','line-height','letterspacing','text-transform','color'] %}

    {% for i in 1..6 %}
    {% set customVar = "h"~i %}
    <div class="col-12">
        <div class="row align-items-center">
            <div class="col-1"><a style="font-size: 2rem" data-toggle="collapse" href="#show-{{ customVar }}-modal"
                                  role="button" aria-expanded="false" aria-controls="show-{{ customVar }}-modal"
                                  id="show-{{ customVar }}" class="collapsed"><i class="fa fa-plus-circle"></i></a>
            </div>
            <div class="col-11">
                <{{ customVar }}>{{ customVar }} Heading <span>small segment.</span></{{ customVar }}>
        </div>
        {{ include('@BciCharts/graphic_chart/inc/forms.html.twig') }}
    </div>
</div>
{% endfor %}

