{% set arguments = ['font-family', 'font-style','font-size','font-weight','line-height','letterspacing','text-transform','color'] %}
    {% set inputSizes = ['short', 'medium', 'long', 'full' ] %}
    {% set i = 0 %}
    {% for size in inputSizes %}
        {% set  i = i + 1 %}
        {% set customVar = type~"-"~size %}

        <div class="col-12">
            <div class="row align-items-center">
                <div class="col-1"><a style="font-size: 2rem" data-toggle="collapse" href="#show-{{ customVar }}-modal"
                                      role="button" aria-expanded="false" aria-controls="show-{{ customVar }}-modal"
                                      id="show-{{ customVar }}" class="collapsed"><i class="fa fa-plus-circle"></i></a>
                </div>
                <div class="col-11">
                    <input class="{{ customVar }} form-control" name="{{ customVar }}" id="{{ customVar }}" type="text"
                           {% if type|lower == "input" %}
                           placeholder="{{type~"."~type~"-"~size}}"
                           {% endif %}>
                    </div>
                {{ include('@BciCharts/graphic_chart/inc/forms.html.twig') }}
            </div>

        </div>
    {% endfor %}
