{% set arguments = ['font-family', 'font-style','font-size','font-weight','line-height','letterspacing','text-transform','color'] %}

    {% set labelSides = ['top', 'bottom', 'left',  'right' ] %}
    {% set i = 0 %}
    {% for side in labelSides %}
        {% set  i = i + 1 %}
        {% set customVar = type~"-"~side %}

        <div class="col-12">
            <div class="row align-items-center">
                <div class="col-1"><a style="font-size: 2rem" data-toggle="collapse" href="#show-{{ customVar }}-modal"
                                      role="button" aria-expanded="false" aria-controls="show-{{ customVar }}-modal"
                                      id="show-{{ customVar }}" class="collapsed"><i class="fa fa-plus-circle"></i></a>
                </div>
                <div class="col-11">
                    {% if side == "top" or side == "left" %}
                    <label for="{{ customVar }}" class="{{ customVar }}">{{ "."~type~"-"~side}}</label>
                    {% endif %}
                    <input class="input-medium form-control" name="" id="{{ customVar }}" type="text"
                            {% if type|lower == "label" %}
                                placeholder="{{"."~type~"-"~side}}"
                            {% endif %}>
                    {% if not(side == "top" or side == "left") %}
                    <label for="{{ customVar }}" class="{{ customVar }}">{{ "."~type~"-"~side}}</label>
                    {% endif %}
                    </div>
                {{ include('@BciCharts/graphic_chart/inc/forms.html.twig') }}
            </div>

        </div>
    {% endfor %}

