{% set arguments = ['font-family', 'font-style','font-size','font-weight','line-height','letterspacing','text-transform','color'] %}

{% set listStyles = ['ul', 'ol','no-bullet'] %}
  {% for type in listStyles %}{% set customVar = type %}
      <div class="col-12">
          <div class="row align-items-center">
              <div class="col-1"><a style="font-size: 2rem" data-toggle="collapse" href="#show-{{customVar}}-modal" role="button" aria-expanded="false" aria-controls="show-{{customVar}}-modal" id="show-{{customVar}}" class="collapsed"><i class="fa fa-plus-circle"></i></a></div>
              <div class="col-11">

                      {% if type == "no-bullet" %}
                  <h3>ul.{{ customVar }}</h3>
                  <ul class="{{ type }}">
                      {% else %}
                          <h3>{{ customVar }}</h3>
                          <{{ customVar }}>
                      {% endif %}
                          <li>List Item<li>
                          <li>List Item</li>
                          <li>List Item</li>
                          <ul>
                              <li>nested Item</li>
                              <li>nested Item</li>
                          </ul>
                          <li>List Item</li>
                      </{{ customVar }}>
              </div>
              {{ include('@BciCharts/graphic_chart/inc/forms.html.twig') }}
          </div>
      </div>
  {% endfor %}

