{% set arguments = ['font-family', 'font-style','font-size','font-weight','line-height','letterspacing','text-transform','color'] %}
    {% set navStyles = ['simple', 'pills', 'tabs' ] %}
    {% set i = 0 %}
    {% for style in navStyles %}
        {% set  i = i + 1 %}
        {% set customVar = type~"-"~style %}

        <div class="col-12">
            <div class="row align-items-center">
                <div class="col-1"><a style="font-size: 2rem" data-toggle="collapse" href="#show-{{ customVar }}-modal"
                                      role="button" aria-expanded="false" aria-controls="show-{{ customVar }}-modal"
                                      id="show-{{ customVar }}" class="collapsed"><i class="fa fa-plus-circle"></i></a>
                </div>
                <div class="col-11">
                    <h4 class="itemsTitle">{{ customVar }}</h4>
                    <ul class="nav nav-{{ style }}">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Active</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" style="pointer-events: none" href="#">Disabled</a>
                        </li>
                    </ul>
                </div>
                {{ include('@BciCharts/graphic_chart/inc/forms.html.twig') }}
            </div>

        </div>
    {% endfor %}
