{% set arguments = ['font-family', 'font-style','font-size','font-weight','line-height','letterspacing','text-transform','color'] %}

{% set paraTitles = ['small', 'medium','large', 'italic'] %}
  {% for para in paraTitles %}{% set customVar = "para-"~para %}
  <div class="col-12">
    <div class="row align-items-center">
      <div class="col-1"><a style="font-size: 2rem" data-toggle="collapse" href="#show-{{customVar}}-modal" role="button" aria-expanded="false" aria-controls="show-{{customVar}}-modal" id="show-{{customVar}}" class="collapsed"><i class="fa fa-plus-circle"></i></a></div>
      <div class="col-11">
        <p class="{{para}}-text"><strong>{{para|capitalize}} Subhead Text</strong>, consectetur adipisicing elit. Asperiores magnam optio nostrum eveniet odio quis quam libero dicta assumenda, earum cumque culpa obcaecati. Doloremque provident tempora, sunt iure illum, aliquam.
        </p>
      </div>
      {{ include('@BciCharts/graphic_chart/inc/forms.html.twig') }}
    </div>
  </div>
  {% endfor %}

