{% set arguments = ['font-family', 'font-style','font-size','font-weight','line-height','letterspacing','text-transform','color'] %}
    {% set radioStyles = ['round', 'square', 'disabled' ] %}
    {% set i = 0 %}
    {% for style in radioStyles %}
        {% set  i = i + 1 %}
        {% set customVar = type~"-"~style %}

        <div class="col-12">
            <div class="row align-items-center">
                <div class="col-1"><a style="font-size: 2rem" data-toggle="collapse" href="#show-{{ customVar }}-modal"
                                      role="button" aria-expanded="false" aria-controls="show-{{ customVar }}-modal"
                                      id="show-{{ customVar }}" class="collapsed"><i class="fa fa-plus-circle"></i></a>
                </div>
                <div class="col-11">
                    <div class="{{ customVar }}">
                        <h4 class="itemsTitle">{{ style }} (parent.{{ style }})</h4>

                        <input type="radio" id="{{ customVar }}1" checked
                               name="{{ customVar }}" value="1" {% if style == "disabled" %}
                        disabled
                        {% endif %}>
                        <label for="{{ customVar }}1" class="box"></label>
                        <label for="{{ customVar }}1">Radio 1</label>

                        <input type="radio" id="{{ customVar }}2"
                               name="{{ customVar }}" value="2" {% if style == "disabled" %}
                        disabled
                        {% endif %}>
                        <label for="{{ customVar }}2" class="box"></label>
                        <label for="{{ customVar }}2">Radio 2</label>

                        <input type="radio" id="{{ customVar }}3"
                               name="{{ customVar }}" value="3" {% if style == "disabled" %}
                        disabled
                        {% endif %}>
                        <label for="{{ customVar }}3" class="box"></label>
                        <label for="{{ customVar }}3">Radio 3</label>
                    </div>
                </div>
                {{ include('@BciCharts/graphic_chart/inc/forms.html.twig') }}
            </div>

        </div>
    {% endfor %}
