{% set arguments = ['font-family', 'font-style','font-size','font-weight','line-height','letterspacing','text-transform','color'] %}
    {% set i = 0 %}
        {% set  i = i + 1 %}
        {% set customVar = type %}

        <div class="col-12">
            <div class="row align-items-center">
                <div class="col-1"><a style="font-size: 2rem" data-toggle="collapse" href="#show-{{ customVar }}-modal"
                                      role="button" aria-expanded="false" aria-controls="show-{{ customVar }}-modal"
                                      id="show-{{ customVar }}" class="collapsed"><i class="fa fa-plus-circle"></i></a>
                </div>
                <div class="col-11">
                    <select name="" id="">
                        <option value="0" selected>Selectionner un option</option>
                        <option value="1">option 1</option>
                        <option value="2">option 2</option>
                        <option value="3">option 3</option>
                        <option value="4">option 4</option>
                    </select>
                    </div>
                {{ include('@BciCharts/graphic_chart/inc/forms.html.twig') }}
            </div>

        </div>
