{% set arguments = ['font-family', 'font-style','font-size','font-weight','line-height','letterspacing','text-transform','color'] %}

    {% set labelSides = ['top', 'none', 'in' ] %}
    {% set i = 0 %}
    {% for style in labelSides %}
        {% set  i = i + 1 %}
        {% set customVar = type~"-"~style %}

        <div class="col-12">
            <div class="row align-items-center">
                <div class="col-1"><a style="font-size: 2rem" data-toggle="collapse" href="#show-{{ customVar }}-modal"
                                      role="button" aria-expanded="false" aria-controls="show-{{ customVar }}-modal"
                                      id="show-{{ customVar }}" class="collapsed"><i class="fa fa-plus-circle"></i></a>
                </div>
                <div class="col-11 error">
                    {% if style == "top" %}
                        <label for="{{ customVar }}" class="label-{{ style }}">label.label-{{ style }}</label>
                        <textarea name="{{ customVar }}" id="{{ customVar }}" onkeyup="adjust_textarea(this)"
                                  placeholder=".{{ type }}" class="form-control"></textarea>
                        <span class="{{ customVar }}">Invalid entry</span>

                    {% elseif style == "none" %}
                        <textarea name="{{ customVar }}" id="{{ customVar }}"  onkeyup="adjust_textarea(this)"
                                  placeholder=".{{ type }}" class="form-control"></textarea>
                        <span class="{{ customVar }}">Invalid entry</span>

                    {% elseif style == "in" %}
                        <div class="{{ customVar }}-container">
                            <div></div>
                            <label for="someone" class="label-{{ style }}">label.label-{{ style }}</label>
                            <textarea name="{{ customVar }}" id="{{ customVar }}" placeholder=".{{ type }}" onkeyup="adjust_textarea(this)" class="form-control"></textarea>
                        </div>
                            <span class="{{ customVar }}">Invalid entry</span>
                     {% endif %}

                </div>
                {{ include('@BciCharts/graphic_chart/inc/forms.html.twig') }}
            </div>

        </div>
    {% endfor %}

