<div class="container"><div class="col-12">
  <div class="collapse" id="show-{{customVar}}-modal">
    <form id="{{customVar}}-form" action="" class="cleanslate">
      {% for argument in arguments %}
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">{{argument|capitalize}}</span>
        </div>
        {% if argument == 'color' or argument == 'background-color' %}
        <div class="input-group-prepend">
          <span class="input-group-text">#</span>
        </div>
        {% endif %}
        <input name="{{customVar}}-{{argument}}" id="{{customVar}}-{{argument}}" class="form-control" placeholder="" aria-label="{{argument|capitalize}} pour {{customVar}}" type="text">
          {% if argument == 'font-size' or argument == 'padding' or argument == 'border-radius'%}
        <div class="input-group-append">
          <span class="input-group-text">px</span>
        </div>

        {% endif %}
      </div>

      {% endfor %}

    </form>
  </div>
</div>
</div>